<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <% if (isLoggedIn) { %>
                <li class="nav-item"><a href="/nombres" class="nav-link">Nombres</a></li>
            <% } %>
            
            <li class="nav-item"><a href="/Fer/personal" class="nav-link">Sobre Mi</a></li>
            <li class="nav-item"><a href="/nombres/mostrar" class="nav-link">Validar contraseña</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <% if (isLoggedIn) { %>
                <%= username %> | 
            <button type="button" class="btn btn-outline-primary me-2">Log in</button>
            <% }else{ %>
            <button type="button" class="btn btn-primary">Log out</button>
            <% } %>
        </div>
    </header>
</body>
</html>