<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fer Valdez</title>
    <link rel="stylesheet" href="/css/fer_style.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/images/Logo.png" alt="Logo personal">
            <ul class="menu">
                <li><a class="menu__option" href="#Yo">Yo</a></li>
                <li><a class="menu__option" href="#Hobbies">Mis hobbies</a></li>
                <li><a class="menu__option" href="#Preguntas">Preguntas</a></li>
                <li><a class="menu__option" href="#Contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="yo" id="yo">
            <h2 class="yo__titulo">Fernanda Valdez</h2>
            <article>
                <h3 class="yo__carrera">Estudiante de Ingeniería en Tecnologías Computacionales</h3>
                <p class="yo__bio">Soy Fer, me considero una persona curiosa y apasionada, me gusta encontrar mi inspiración en los pequeños detalles. 
                    Suelo explorar el equilibrio entre lo humano y la tecnología, siempre buscando que mis proyectos tengan 
                    funcionalidad con un sentido estético y emocional. Me gusta crear, analizar y dar vida a mis ideas 
                    siempre con un toque de creatividad e innovación.<br><br>

                    Mis principales hobbies estan muy ligados al arte, cuando hago arte logro estar en un plano completamente diferente
                    en donde solo estoy yo y mi propio diseño. Algunos de mis hobbies principales son: El dibujo, la pintura, cerámica, música
                    y la fotografía. Solia tomar clases LiFE de pintura y fotografía pero por los cambios de horario ya no me es posible.<br> <br>

                    He tenido la oportunidad de trabajar en proyectos personales, principalmente en desarrollo web, y también formo parte del grupo estudiantil ACM, que se dedica principalmente a la difusión de la programación competitiva, además de generar varios proyectos para que los compañeros de la carrera se involucren un poco más y desarrollen diferentes habilidades.
                </p>

            </article>
            
            <img class="yo__img" src="/images/yo.jpg" alt="imagen personal">
            
        </section>
        
        <section id="Hobbies">
            <h2 class="section__titulo">Mis Hobbies</h2>
            <article>
                <h4 class="section__bio">"Me gusta expresarme atraves del arte porque es donde mi alma conecta con mi cuerpo"</h4>
                <figure class="hobbies__galeria">
                    <img class="hobbies__img" src="/images/hobby_cocina.jpg" alt="hobby cocinar">
                    <img class="hobbies__img" src="/images/hobby_music.jpg" alt="hobby escuchar musica">
                    <img class="hobbies__img" src="/images/hobby_code.jpg" alt="hobby programar">
                    <img class="hobbies__img" src="/images/hobby_paint.jpg" alt="hobby pintar">
                    <img class="hobbies__img" src="/images/hobby_photo.jpg" alt="hobby tomar fotos">
                </figure>  
            </article>
        </section>

        <section  id="Preguntas">
            <h2 class="section__titulo">Preguntas</h2>
            <article>
                <h4 class="section__bio">Laboratorio 12: HTML dinámico</h4>

                <h3>¿Qué otros templating engines existen para node?</h3>
                <p>
                    Un motor de plantillas es una tecnología que permite separar el marcado HTML de los datos dinámicos. Simplifica el proceso 
                    de representación de contenido dinámico al proporcionar marcadores de posición para los datos dentro de las plantillas HTML.
                </p><br>
                <h4>Los más populares</h4>
                <ol>
                    <li>Handlebars</li>
                    <li>EJS</li>
                    <li>Pug</li>
                    <li>Mustache</li>
                    <li>Nunjuscks</li>
                </ol><br><br>
                <small>Prajapati, D. (2023, 28 agosto). Comprehensive Guide to Template Engines in Node.js with Express. Medium. 
                    <a href="https://es.semrush.com/blog/que-es-una-url/">https://medium.com/@itz.dhruv/comprehensive-guide-to-template-engines-in-node-js-with-express-c953a47dfa9d</a>
                </small><br><br>
                <small>Template Engines for Node.js. (s. f.). 
                    <a href="https://www.tutorialsteacher.com/nodejs/template-engines-for-nodejs">https://www.tutorialsteacher.com/nodejs/template-engines-for-nodejs</a>
                </small>

            </article>
        </section>


        <section id="Contacto">
            <h2 class="section__titulo">Contactame</h2>
            <article>
                <h3 class="contacto__info">Información de contacto:</h3>
                <p>Luisa Fernanda Valdez Guillen</p>
                <p>Matricula: A01711870</p>
                <p>Correo: ferdivaldezg@gmail.com</p><br><br>
            </article>

            <h3>Mandame un mensaje: </h3>

            <form>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre">
                
                <label for="mensaje">Mensaje</label>
                <textarea name="mensaje" id="mensaje"></textarea>
                
                <button type="submit">Enviar</button>
            </form>

        </section>

    </main>

    <footer>
        Editor utilizado: <a class="editor" href="https://code.visualstudio.com/"> Visual studio code</a>
    </footer>

</body>
</html>