<%- include('includes/header.ejs') %> 

<% if(info != '') { %>
    <div class="alert alert-primary" role="alert">
        <%= info %>
    </div>
<% } %>

<% for (let privilegio of privilegios) { %>
    <% if(privilegio.nombre == "agregar nombres"){ %>
        <a class="btn btn-primary " href="/nombres/agregar">
            Agregar nombre
        </a>
    <% } %>
<% } %>
<br><br>

<div class="col">
    <% for(let nombre of nombres){ %>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-title">
                        <a class="card-link" href="/nombres/<%= nombre.id %>"><%= nombre.nombre %></a>
                    </p>
                </div>
            </div><br><br>
        </div>
    <% } %>
</div>