<%- include('includes/header.ejs') %> 

<%- include('includes/nombres.ejs') %> 

<% for(let nombre of nombres){ %>
    <div>
        <p>
            <%= nombre.nombre %>
        </p>
    </div>
<% } %>